@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232323;
}

.active {
  color: #e68739;
}

.gradient-text {
  background: linear-gradient(to right, #e68739, #ee5642);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: animacionDeGradient 4s linear infinite;
}

@keyframes animacionDeGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}