@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  color: #e68739;
  transition: all 0.4s ease;
}
::-webkit-scrollbar-thumb {
  background: #e68739;
  border-radius: 8px;
  width: 8px;
  transition: all 0.4s ease;
}
::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 8px;
  width: 8px;
}

body {
  background-color: #232323;
}

.active {
  color: #e68739;
}

.gradient-text {
  background: linear-gradient(to right, #e68739, #ee5642);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: animacionDeGradient 4s linear infinite;
}

@keyframes animacionDeGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}